.stack-container {
    position: relative;
    width: 100px;  /* Set your desired width */
    height: auto; /* Set your desired height */
  }
  
  .stacked-image {
    position: absolute;
    top: 500;
    left: 0;
    width: 25%; /* Make the images fill the container */
    height: 25%;
    object-fit: cover; /* Optional, makes sure images cover the area without distortion */
  }
  